p {
  margin: 0 !important;
  padding: 0;
  font-family: "Gotham Pro" !important;
}
a {
  font-family: "Gotham Pro" !important;
}
.App {
  /* max-width: 1140px; */
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

table {
  border: 0;
  /* border-collapse: separate;
  border-spacing: 5px 5px; */
}

thead tr th {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-collapse: separate;
  /* border-spacing: 5px 5px; */
}
.orderBook thead tr th {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: separate;
  /* border-spacing: 5px 5px; */
}

tbody tr#first td {
  border-top: 3px solid #4d4d4d;
  border-collapse: separate;
  /* border-spacing: 5px 5px; */
}

th {
  color: black;
  font-size: small;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Gotham Pro" !important;
  font-variant: bold;
}
.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Gotham Pro" !important;
  font-variant: bold;
}

.header a:hover {
  color: blue;
  text-decoration: none;
}

.header svg:hover {
  background: #61dafb;
}

.languageLogo p {
  margin-right: 3px;
  margin-left: 13px;
  margin-bottom: 0;
  margin-top: 0;
}

.settingsLogo {
  margin-left: 3px;
  margin-right: 15px;
}
.signInButton {
  font-weight: bolder;
  font-family: "GothamPro-Bold";
}

.orderBuyP {
  color: green;
}

.orderSellP {
  color: #e6433b;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.orderTitle {
  font-size: 18px;
  font-weight: bold;
  font-family: "Gotham Pro";
  margin-bottom: 1rem !important;
}
.order p {
  font-family: "Gotham Pro";
}

.order div {
  display: flex;
}

.orderBook {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.rightBody {
  margin-left: 30px;
  width: 25% !important;
  height: 100% !important;
}
.tabsChartOrderBook {
  width: 75% !important;
  height: 59% !important;
}
.leftBodyRightBodyDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftBodyNav {
  display: flex;
  justify-content: space-between;
}
.leftBodyTabSelected {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 7px;
  border-top: 2px solid;
  border-right: 1px solid #80808047;
}
.leftBodyTab {
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 7px;

  color: gray;
}

.leftBodyTab:hover,
.leftBodyTabSelected:hover {
  cursor: pointer;
}

.rightBodyTabSelected {
  padding: 8px;
  border-top: 5px solid red;
  border-left: 1px solid #80808047;
}
.rightBodyTab {
  padding: 10px;
  color: gray;
}

.rightBodyNav {
  display: flex;
}

.leftBodyNavLeft,
.leftBodyNavRight {
  display: flex;
}
.leftBodyNavRight {
  flex-direction: column;
  font-size: x-small;
  margin-top: 10px;
}
.leftBodyNavRight p {
  margin-bottom: 2px;
}

.colorGray {
  color: gray;
}

.plusInElipse {
  fill: white;
}

.rightBodyDeposit {
  color: white;
  background: #e6433b;
}

.percentDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.percentDiv p {
  border-radius: 8px;
  border: solid 1px;
  margin: 3px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.buttonBTC {
  color: white;
  background: #e6433b;
  padding: 15px;
  border-radius: 6px;
}

.buttonBTC div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBTC p {
  margin: 0;
}

.yellowCircle {
  background: #fecf50;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-left: 25px;
}

input {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid gray;
}

.recharts-cartesian-axis-tick-line {
  display: none;
}

.recharts-cartesian-grid {
  /* width: 600px; */
}
.recharts-responsive-container {
  box-shadow: 0px 10px 8px -3px rgba(160, 160, 160, 0.5);
}

.pGothamProBold {
  font-weight: bolder;
  font-family: "Gotham Pro";
}

.rightBodyDepositDiv {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 10px 8px -3px rgba(122, 122, 122, 0.5);
}
.rightBodyExchange {
}

.chartOrderBook {
  /* height: 99% !important; */
  width: 100% !important;
}

.bidsItem {
  background: #e6433b45;
}
.asksItem {
  background: #75bf3445;
}
.topBody {
  height: 375px;
}
.btn-secondary {
  color: black !important;
  background-color: white !important;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: rgb(172, 172, 172) !important;
}
/* Black */
.rightBodyDepositDivBlack {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0em 2em 50px rgba(122, 122, 122, 0.5);
}

.rightBodyDepositDivBlack input {
  background-color: black;
  color: white;
}

.rightBodyDepositBlack {
  background-color: #80a95c;
}
.buttonBTCBlack {
  background-color: #80a95c;
  padding: 15px;
}

.buttonBTCBlack div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightBodyTabSelectedBuyBlack {
  border-top: 5px solid #80a95c;
  border-left: 0;
}

@media (max-width: 992px) {
  .percentDiv {
    flex-direction: column !important;
  }
}

@media (min-width: 1199) {
  .rightBodyDepositDivBlack {
    min-height: 375px;
    height: 375px;
  }
}
