.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

table {
  border: 0;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

thead tr th {
  border-bottom: 1px solid wheat;
  border-top: 1px solid wheat;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

tbody tr#first td {
  border-top: 3px solid #4d4d4d;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

th {
  color: #828282;
  font-size: small;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  font-family: "GothamPro-Medium";
}
.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.header a:hover {
  color: blue;
  text-decoration: none;
}

.header svg:hover {
  background: #61dafb;
}

.languageLogo p {
  margin-right: 3px;
  margin-left: 13px;
  margin-bottom: 0;
  margin-top: 0;
}

.settingsLogo {
  margin-left: 3px;
  margin-right: 15px;
}
.signInButton {
  font-weight: bolder;
  font-family: "GothamPro-Bold";
}

.order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.order p {
  font-family: "GothamPro-Bold";
}

.order div {
  display: flex;
}
